<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de alumnos</title>

    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div id="app">
            <div class="row">
                <div class="col">::.. SISTEMA ACADEMICO .::</div>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="row p-1">
                        <div class="col col-md-4">CODIGO</div>
                        <div class="col col-md-4">
                            <input v-model="alumno.codigo" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-4">NOMBRE</div>
                        <div class="col col-md-6">
                            <input v-model="alumno.nombre" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-4">DIRECCION</div>
                        <div class="col col-md-6">
                            <input v-model="alumno.direccion" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-4">MUNICIPIO</div>
                        <div class="col col-md-6">
                            <input v-model="alumno.municipio" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-4">DEPARTAMENTO</div>
                        <div class="col col-md-6">
                            <input v-model="alumno.departamento" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-4">TELEFONO</div>
                        <div class="col col-md-6">
                            <input v-model="alumno.telefono" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-4">FECHA DE NACIMIENTO</div>
                        <div class="col col-md-6">
                            <input v-model="alumno.fechan" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-4">SEXO</div>
                        <div class="col col-md-5">
                            <select v-model="alumno.sexo" name="sexo" id="sexo" class="form-control">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                            <!-- <input v-model="alumno.sexo" type="text" class="form-control"> -->
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col">
                            <button @click.prevent.default="guardarAlumno" class="btn btn-success">GUARDAR</button>
                            <button @click.prevent.default="nuevoAlumno" class="btn btn-warning">NUEVO</button>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <form id="frmalumno">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>BUSCAR</th>
                                    <th colspan="5">
                                        <input stype="search" v-model="valor" @keyup="buscarAlumno" class="form-control">
                                    </th>
                                </tr>
                                <tr>
                                    <th>CODIGO</th>
                                    <th>NOMBRE</th>
                                    <th>DIRECCION</th>
                                    <th>MUNICIPIO</th>
                                    <th>DEPARTAMENTO</th>
                                    <th>TELEFONO</th>
                                    <th>FECHA NACIMIENTO</th>
                                    <th>SEXO</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr @click="modificarAlumno(alumno)" v-for="alumno in alumnos" :key="alumno.idAlumno">
                                    <td>{{alumno.codigo}}</td>
                                    <td>{{alumno.nombre}}</td>
                                    <td>{{alumno.direccion}}</td>
                                    <td>{{alumno.municipio}}</td>
                                    <td>{{alumno.departamento}}</td>
                                    <td>{{alumno.telefono}}</td>
                                    <td>{{alumno.fechan}}</td>
                                    <td>{{alumno.sexo}}</td>
                                    <td><button @click.prevent.default="eliminarAlumno(alumno.idAlumno)" class="btn btn-danger">del</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="db.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data:{
                valor:'',
                alumnos:[],
                accion:'nuevo',
                alumno:{
                    idAlumno: new Date().getTime(),
                    codigo:'',
                    nombre:'',
                    direccion:'',
                    municipio:'',
                    departamento:'',
                    telefono:'',
                    fechan:'',
                    sexo: ''
                }
            },
            methods:{
                buscarAlumno(e){
                    this.listarAlumnos();
                },
                eliminarAlumno(idAlumno){
                    if( confirm(`Esta seguro de elimina el estudiante?`) ){
                        let store = abrirStore('alumnos', 'readwrite'),
                        query = store.delete(idAlumno);
                    query.onsuccess = e=>{
                        this.nuevoAlumno();
                        this.listarAlumnos();
                    };
                    }
                },
                modificarAlumno(alumno){
                    this.accion = 'modificar';
                    this.alumno = alumno;
                },
                guardarAlumno(){
                    //almacenamiento del objeto alumnos en indexedDB
                    let store = abrirStore('alumnos', 'readwrite'),
                        query = store.put({...this.alumno});
                    query.onsuccess = e=>{
                        this.nuevoAlumno();
                        this.listarAlumnos();
                    };
                    query.onerror = e=>{
                        console.error('Error al guardar en alumnos', e.message());
                    };
                },
                nuevoAlumno(){
                    this.accion = 'nuevo';
                    this.alumno = {
                        idAlumno: new Date().getTime(),
                        codigo:'',
                        nombre:'',
                        direccion:'',
                        municipio:'',
                        departamento:'',
                        telefono:'',
                        fechan:'',
                        sexo: ''
                    }
                },
                listarAlumnos(){
                    let store = abrirStore('alumnos', 'readonly'),
                        data = store.getAll();
                    data.onsuccess = resp=>{
                        this.alumnos = data.result
                            .filter(alumno=>alumno.codigo.includes(this.valor) || 
                            alumno.nombre.toLowerCase().includes(this.valor.toLowerCase()) || 
                            alumno.direccion.toLowerCase().includes(this.valor.toLowerCase()) || 
                            alumno.municipio.toLowerCase().includes(this.valor.toLowerCase()) || 
                            alumno.departamento.toLowerCase().includes(this.valor.toLowerCase()) || 
                            alumno.telefono.toLowerCase().includes(this.valor.toLowerCase()) || 
                            alumno.fechan.toLowerCase().includes(this.valor.toLowerCase()) || 
                            alumno.sexo.toLowerCase().includes(this.valor.toLowerCase()));
                    };
                }
            },
            created(){
                //this.listaralumnos();
            }
        })
    </script>
</body>
</html>